/* ===========================================================================================
 *
 * 						Global Styles
 *
 * =========================================================================================== */
/* line 49, style.sass */
* {
  text-rendering: optimizeLegibility;
}

/* line 53, style.sass */
body {
  background-color: #cbd4dd;
  color: #222222;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* line 59, style.sass */
p {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: #610000;
}

/* line 63, style.sass */
h1 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  color: #610000;
  margin: 0 0 20px 0;
}

/* line 68, style.sass */
h2 {
  color: #610000;
  padding: 10px 0;
  font-family: Georgia, Times, "Times New Roman", serif;
}

/* line 73, style.sass */
.btn {
  background: #002a78;
  background: #002a78;
  border-style: Solid;
  border-color: white;
  border-color: white;
  border-width: 2px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  max-width: 272px;
  border-radius: 8px;
  margin: 30px auto 0;
  display: block;
  padding: 10px;
}
@media (min-width: 1200px) {
  /* line 73, style.sass */
  .btn {
    margin: 30px auto 0 80px;
  }
}
/* line 94, style.sass */
.btn:hover, .btn:active, .btn:focus {
  background: #003cab;
  border-style: Solid;
  border-color: white;
  border-width: 2px;
}

/* line 101, style.sass */
::-webkit-input-placeholder {
  color: #610000 !important;
}

/* line 104, style.sass */
:-moz-placeholder {
  color: #610000 !important;
}

/* line 107, style.sass */
::-moz-placeholder {
  color: #610000 !important;
}

/* line 110, style.sass */
:-ms-input-placeholder {
  color: #610000 !important;
}

/* ===========================================================================================
 *
 * 						Adjustments
 *
 * =========================================================================================== */
/* line 122, style.sass */
.container {
  max-width: 850px;
}

/* ===========================================================================================
 *
 * 						Header
 *
 * =========================================================================================== */
