/* ===========================================================================================
 *
 * 						Global Styles
 *
 * =========================================================================================== */
/* line 49, style.sass */
* {
  text-rendering: optimizeLegibility;
}

/* line 53, style.sass */
body {
  background-color: #cbd4dd;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* line 58, style.sass */
p {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* line 62, style.sass */
h2 {
  margin: 0 auto 5px;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  color: #018c76;
}

/* line 69, style.sass */
.btn {
  background: #002a78;
  background: #002a78;
  border-style: Solid;
  border-color: white;
  border-color: white;
  border-width: 2px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  max-width: 272px;
  border-radius: 8px;
  margin: 30px auto 0;
  display: block;
  padding: 10px;
}
@media (min-width: 1200px) {
  /* line 69, style.sass */
  .btn {
    margin: 30px auto 0 80px;
  }
}
/* line 90, style.sass */
.btn:hover, .btn:active, .btn:focus {
  background: #003cab;
  border-style: Solid;
  border-color: white;
  border-width: 2px;
}

/* line 97, style.sass */
::-webkit-input-placeholder {
  color: #610000 !important;
}

/* line 100, style.sass */
:-moz-placeholder {
  color: #610000 !important;
}

/* line 103, style.sass */
::-moz-placeholder {
  color: #610000 !important;
}

/* line 106, style.sass */
:-ms-input-placeholder {
  color: #610000 !important;
}

/* line 110, style.sass */
hr {
  display: block;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  border-style: inset;
  border-width: 1px;
  box-sizing: border-box;
}

/* ===========================================================================================
 *
 * 						Adjustments
 *
 * =========================================================================================== */
/* line 129, style.sass */
.container {
  max-width: 850px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000');
  background-color: white;
}

/* ===========================================================================================
 *
 * 						Header
 *
 * =========================================================================================== */
/* */
/* ===========================================================================================
 *
 * 						Menu
 *
 * =========================================================================================== */
/* line 149, style.sass */
#NP {
  background-image: -moz-linear-gradient(90deg, #2d5076 0%, #7092b7 100%);
  background-image: -webkit-linear-gradient(90deg, #2d5076 0%, #7092b7 100%);
  background-image: -ms-linear-gradient(90deg, #2d5076 0%, #7092b7 100%);
}

/* line 155, style.sass */
.nav li a {
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

/* line 161, style.sass */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .nav > li > a:hover, .nav > li > a:focus {
  background-color: #018c76;
}

/* line 164, style.sass */
.navbar-nav > li > .dropdown-menu {
  background: #6a6a6a;
}
/* line 166, style.sass */
.navbar-nav > li > .dropdown-menu li {
  border-bottom: 1px solid #003300;
}
/* line 168, style.sass */
.navbar-nav > li > .dropdown-menu a {
  font-size: 11px;
  color: white;
  text-align: left;
}

/* ===========================================================================================
 *
 * 						Main Content
 *
 * ===========================================================================================             */
/* line 180, style.sass */
.bc-maincontent {
  padding-top: 25px;
  padding-bottom: 65px;
}
@media (min-width: 991px) {
  /* line 180, style.sass */
  .bc-maincontent {
    padding-left: 30px;
  }
}

/* ===========================================================================================
 *
 * 						Sidebar
 *
 * =========================================================================================== */
/* line 193, style.sass */
.sidebar {
  padding-top: 8px;
  padding-bottom: 25px;
}
/* line 197, style.sass */
.sidebar .login, .sidebar .calendar {
  padding: 10px;
  border: 1px solid #aedad3;
  background-color: #ebfffc;
  margin-top: 17px;
}
/* line 202, style.sass */
.sidebar .login h2, .sidebar .calendar h2 {
  font-size: 14px;
  font-weight: bold;
  color: #018c76;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
/* line 208, style.sass */
.sidebar .login h2 {
  margin-bottom: 15px;
}
/* line 210, style.sass */
.sidebar .sponsors {
  text-align: center;
  margin-top: 15px;
}
/* line 214, style.sass */
.sidebar input[type="text"], .sidebar input[type="password"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border: #cecece solid 1px;
  border-radius: 2px;
}

/* ===========================================================================================
 *
 * 						Footer
 *
 * =========================================================================================== */
/* line 228, style.sass */
footer {
  margin-bottom: 30px;
}
/* line 231, style.sass */
footer .container {
  background-color: #3d70b1;
  min-height: 20px;
  margin: 0 auto;
  padding: 5px 0 0;
  color: white;
  vertical-align: middle;
  box-shadow: 0px 5px 38px rgba(0, 0, 0, 0.4);
}
/* line 239, style.sass */
footer .container p {
  text-align: center;
  color: white;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0 0 5px 0;
}
