/* ===========================================================================================
 *
 * 						Global Styles
 *
 * =========================================================================================== */
/* line 49, style.sass */
* {
  text-rendering: optimizeLegibility;
}

/* line 53, style.sass */
body {
  background-color: #cbd4dd;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* line 58, style.sass */
p {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* line 62, style.sass */
h2 {
  margin: 0 auto 5px;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  color: #018c76;
}

/* line 69, style.sass */
.btn {
  background: #002a78;
  background: #002a78;
  border-style: Solid;
  border-color: white;
  border-color: white;
  border-width: 2px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  max-width: 272px;
  border-radius: 8px;
  margin: 30px auto 0;
  display: block;
  padding: 10px;
}
@media (min-width: 1200px) {
  /* line 69, style.sass */
  .btn {
    margin: 30px auto 0 80px;
  }
}
/* line 90, style.sass */
.btn:hover, .btn:active, .btn:focus {
  background: #003cab;
  border-style: Solid;
  border-color: white;
  border-width: 2px;
}

/* line 97, style.sass */
::-webkit-input-placeholder {
  color: #610000 !important;
}

/* line 100, style.sass */
:-moz-placeholder {
  color: #610000 !important;
}

/* line 103, style.sass */
::-moz-placeholder {
  color: #610000 !important;
}

/* line 106, style.sass */
:-ms-input-placeholder {
  color: #610000 !important;
}

/* ===========================================================================================
 *
 * 						Adjustments
 *
 * =========================================================================================== */
/* line 118, style.sass */
.container {
  max-width: 850px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000');
  background-color: white;
}

/* ===========================================================================================
 *
 * 						Header
 *
 * =========================================================================================== */
/* */
/* ===========================================================================================
 *
 * 						Menu
 *
 * =========================================================================================== */
/* line 138, style.sass */
#NP {
  background-image: -moz-linear-gradient(90deg, #2d5076 0%, #7092b7 100%);
  background-image: -webkit-linear-gradient(90deg, #2d5076 0%, #7092b7 100%);
  background-image: -ms-linear-gradient(90deg, #2d5076 0%, #7092b7 100%);
}

/* line 144, style.sass */
.nav li a {
  padding-top: 4px;
  padding-bottom: 5px;
}

/* ===========================================================================================
 *
 * 						Main Content
 *
 * ===========================================================================================             */
/* line 157, style.sass */
.bc-maincontent {
  padding-top: 25px;
  padding-left: 30px;
}

/* ===========================================================================================
 *
 * 						Sidebar
 *
 * =========================================================================================== */
/* line 168, style.sass */
.sidebar {
  padding-top: 8px;
  padding-bottom: 25px;
}
/* line 172, style.sass */
.sidebar .login, .sidebar .calendar {
  padding: 10px;
  border: 1px solid #aedad3;
  background-color: #ebfffc;
  margin-top: 17px;
}
/* line 177, style.sass */
.sidebar .login h2, .sidebar .calendar h2 {
  font-size: 14px;
  font-weight: bold;
  color: #018c76;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/* ===========================================================================================
 *
 * 						Footer
 *
 * =========================================================================================== */
/* line 192, style.sass */
footer .container {
  background-color: #3d70b1;
  min-height: 20px;
  margin: 0 auto;
  padding: 5px 0 0;
  color: white;
  vertical-align: middle;
}
/* line 199, style.sass */
footer .container p {
  text-align: center;
  color: white;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0 0 5px 0;
}
