// Bernie Mixins
=breakpoint($point)
    @if $point == md
        @media (min-width: 1200px)
            @content
    @if $point == sm
        @media (max-width: 1195px)
            @content
    @if $point == xs
        @media (max-width: 480px)
            @content    
 

=bcbreakpoint($min:0, $max:0)
    $type: type-of($min)
    @if $type == number
        $query: "all" !default
        @if $min != 0 and $max != 0
            $query: "(min-width: #{$min}) and (max-width: #{$max})"
        @else if $min != 0 and $max == 0 
            $query: "(min-width: #{$min})"
        @else if $min == 0 and $max != 0
            $query: "(max-width: #{$max})"
        @media #{$query}
            @content

            
=shadow-this
    box-shadow : 0px 0px 25px rgba(0, 0, 0, 0.25)
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000') 
    
=transition
    -webkit-transition: all 0.3s ease
    -moz-transition: all 0.3s ease
    -o-transition: all 0.3s ease   
    -ms-transition: all 0.3s ease
    transition: all 0.3s ease
    transition: all 0.2s ease, padding 0.8s linear


/* 
    ===========================================================================================

    						Global Styles

    ===========================================================================================


*
    text-rendering: optimizeLegibility


body 
    background-color: #cbd4dd
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif
    font-size: 16px
    
p
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif
    font-size: 16px
    span
        font-size: 16px !important

h1
    font-weight: bold
    font-size: 30px
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif
        
h2
    padding: 0
    font-size: 24px
    font-weight: bold
    color: #018c76
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif

    
.btn
    background : #002A78
    background : rgba(0, 42, 120, 1)
    border-style : Solid
    border-color : #FFFFFF
    border-color : rgba(255, 255, 255, 1)
    border-width : 2px
    border-radius : 0px
    -moz-border-radius : 0px
    -webkit-border-radius : 0px
    font-size: 24px
    font-family: 'Open Sans', sans-serif
    width: 100%
    max-width: 272px
    border-radius: 8px
    margin: 30px auto 0
    display: block
    padding: 10px
    +breakpoint(md)
        margin: 30px auto 0 80px
    
    &:hover, &:active,  &:focus
        background : lighten(#002A78, 10%)
        border-style : Solid
        border-color : rgba(255, 255, 255, 1)
        border-width : 2px    
    
    
\::-webkit-input-placeholder
    color: #888888 !important

\:-moz-placeholder 
    color: #888888 !important

\::-moz-placeholder
    color: #888888 !important

\:-ms-input-placeholder
    color: #888888 !important


hr
    display: block
    -webkit-margin-before: 0.5em
    -webkit-margin-after: 0.5em
    -webkit-margin-start: auto
    -webkit-margin-end: auto
    border-style: inset
    border-width: 1px
    box-sizing: border-box

a
    color: blue
    text-decoration: underline


/* 
    ===========================================================================================

    						Adjustments

    ===========================================================================================
    

.container
    box-shadow : 0px 0px 25px rgba(0, 0, 0, 0.75)
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000')
    background-color: #fff
    
html, body
    +bcbreakpoint($min: 0, $max: 991px)
        overflow-x: hidden
/* 
    ===========================================================================================

    						Header

    ===========================================================================================

/* 

header
    .logo
        text-align: right
        padding: 0 !important
        img
            float: right !important
        svg
            max-width: 160px
            height: auto
            margin: 10px
            +bcbreakpoint($min: 991px, $max: 0)
                height: 95px
            +bcbreakpoint($min: 992px, $max: 1199px)
                max-width: 126px
            +bcbreakpoint($min: 0, $max: 991px)
                max-width: 104px
                margin: 0 29px
                height: 118px
    .header
        background-color: #cbd4dd
        +bcbreakpoint($min: 768px, $max: 0)
            background: #cbd4dd url("../images/header-banner.png") no-repeat center top
            background-position: 117% 0
        +bcbreakpoint($min: 0, $max: 991px)
            background-position: 9% 0
        
        
    h1
        font-family: 'Dancing Script', cursive
        color: #437d70
        font-size: 32px
        margin: 6px 0 0 0
        +bcbreakpoint($min: 0, $max: 767px)
            max-width: 100%
            margin-top: 8px
        +bcbreakpoint($min: 0, $max: 672px)
            display: none
    p
        margin: 0 auto 5px
        color: #006e52
        font-size: 12px
        +bcbreakpoint($min: 991px, $max: 0)
            margin: 102px 25px 0 0
            float: right
        +bcbreakpoint($min: 0, $max: 991px)
            font-size: 11px
            font-size: 11px
            margin: 101px 5px 0px 0
            float: right
        +bcbreakpoint($min: 0, $max: 767px)
            max-width: 352px
            float: left
            font-size: 16px
        
        
/* 
    ===========================================================================================

    						Menu

    ===========================================================================================
#NP
    background-image: -moz-linear-gradient( 90deg, rgb(45,80,118) 0%, rgb(112,146,183) 100%)
    background-image: -webkit-linear-gradient( 90deg, rgb(45,80,118) 0%, rgb(112,146,183) 100%)
    background-image: -ms-linear-gradient( 90deg, rgb(45,80,118) 0%, rgb(112,146,183) 100%)
.nav
    li
        a
            padding-top: 4px
            padding-bottom: 5px
            padding-left: 10px !important
            padding-right: 10px !important
            
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus, .nav>li>a:hover, .nav>li>a:focus            
    background-color: #018c76
            
.navbar-nav>li>.dropdown-menu
    background: #6a6a6a
    padding: 0
    li
        border-bottom: 1px solid #030
        &:nth-last-child
            border-bottom: 1px solid transparent
    a
        font-size: 11px
        color: #ffffff
        text-align: left
        padding-top: 8px
        padding-bottom: 5px
        
#main-menu 
    .caret
        display: none
        
        
#mobile-toggle            
    svg
        width: 32px       
        height: 32px

        
.modal-body
    position: relative
    padding: 20px 20px 40px
        
#mobileMenuWrapper
    height: 100vh
    position: fixed
    top: -1px
    bottom: 0px
    z-index: 100
    overflow-y: auto
    overflow-x: hidden
    left: -120%
    width: 225px
    max-width: 100%
    background-color: #5f0c0c
    transition: all 300ms cubic-bezier(1, 0.01, 0, 1) 0s
    background-image: -moz-linear-gradient(90deg,#2d5076 0,#7092b7 100%)
    background-image: -webkit-linear-gradient(90deg,#2d5076 0,#7092b7 100%)
    background-image: -ms-linear-gradient(90deg,#2d5076 0,#7092b7 100%)
#mobileMenuWrapper.open
    left: 0px
    bottom: 0px
#mobileMenuWrapper 
    #mobile-menu
        overflow: auto
        padding: 0px 8px 10px
        > li#triggerClose 
            color: #fff
            float: right
            display: inline
            font-size: 22px
            cursor: pointer
            transform: rotate(45deg)
        a
            width: 100%
            color: #ffffff
            display: inline-block
            margin: 10px 0 0 0
            font-size: 14px
            padding: 8px 10px
            &:hover
                background-color: #003cab
                text-decoration: none
    ul
        margin: 0px
        padding: 0px
        list-style-type: none
#mobileMenuWrapper 
    background-color: rgba(0,0,0,0.96)
    a
        text-decoration: none
    ul.mDropdown
        margin: 0 15px
        display: none
#mobile-toggle
    border: none
    background: transparent
    box-shadow: none
    cursor: pointer
#mobile-menu-col
    top: 13px
    right: 20px
    float: right
    position: relative
    margin-right: -14px
    background-image: -moz-linear-gradient(90deg, #2d5076 0%, #7092b7 100%)
    background-image: -webkit-linear-gradient(90deg, #2d5076 0%, #7092b7 100%)
    background-image: -ms-linear-gradient(90deg, #2d5076 0%, #7092b7 100%)
    +bcbreakpoint($min: 0, $max: 991px)
        margin-top: -47px
        width: 100%
        padding: 0
        margin: -13px -20px 0px 0px
#mobile-logo
    width: 40%
    float: left
    margin-top: 27px
    margin-bottom: 20px
    a
        margin: 0 !important
    svg#logo
        width: 250px
        max-width: 250px
        
        
    
#mobile-toggle  
    padding: 7px 7px 3px 
    display: inline-block !important
    float: right
    +bcbreakpoint($min: 991px, $max: 0)    
        display: none !important
        
    
#mobileMenuWrapper 
    #mobile-menu 
        a:hover
            background-color: #018c76
            
/* 
    ===========================================================================================

    						Main Content

    ===========================================================================================            
.bc-maincontent
    padding-top: 25px
    padding-bottom: 65px
    +bcbreakpoint($min: 991px, $max: 0)
        padding-left: 30px        
    +bcbreakpoint($min: 0, $max: 991px)
        padding-top: 0
        padding-bottom: 65px
        margin-top: -20px
    
    +bcbreakpoint($min: 0, $max: 480px)
        > div:nth-child(1)
            text-align: left !important  
/* 
    ===========================================================================================

    						Sidebar

    ===========================================================================================



.sidebar, .modal-body
    padding-top: 8px
    padding-bottom: 25px 
    h2
        margin: 0 auto 5px
    .login, .calendar
        padding: 10px
        border: 1px solid #aedad3
        background-color: #ebfffc
        margin-top: 17px
        h2
            font-size: 24px
            font-weight: bold
            color: #018c76
            font-family: Verdana,Geneva,Arial,Helvetica,sans-serif
    .login
        h2
            margin-bottom: 15px
        +bcbreakpoint($min: 0, $max: 991px)
            display: none
    .sponsors
        text-align: center
        margin-top: 15px

    input[type="text"], input[type="password"]
        width: 100%
        margin-bottom: 10px
        padding: 5px
        border: #cecece solid 1px
        border-radius: 2px
    .calendar
        font
            font-size: 16px !important
        b
            font-size: 16px !important    
        a
            font-size: 16px !important    
        
/*     
    ===========================================================================================

    						Footer

    ===========================================================================================

footer
    margin-bottom: 30px
    
    .container
        background-color: #3d70b1
        min-height: 20px
        margin: 0 auto
        padding: 5px 0 0
        color: #fff
        vertical-align: middle
        box-shadow: 0px 5px 38px rgba(0, 0, 0, 0.4)
        p
            text-align: center
            color: #fff
            font-family: Verdana,Geneva,Arial,Helvetica,sans-serif
            font-size: 16px
            padding: 0
            margin: 0 0 5px 0

        
/* 
    ===========================================================================================

    						Misc

    ===========================================================================================        
        
.mopen            
    display: block !important
    
.caret
    display: inline-block
    width: 0
    height: 0
    margin-left: 7px
    vertical-align: middle
    border-top: 4px solid #fff
    border-right: 4px solid transparent
    border-bottom: 0 dotted
    border-left: 4px solid transparent
    content: ""


.bc-desktop
    +bcbreakpoint($min: 991px, $max: 0)
        display: none

.bc-mobile
    +bcbreakpoint($min: 0, $max: 990px)
        display: none

    
+bcbreakpoint($min: 0, $max: 672px)
    header
        .col-xs-2
            width: 100% !important
        .col-xs-10
            width: 100% !important